# Autotools cruft
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-*
*.o
*.a
.auto
.deps
.dirstamp
# Visual Studio cruft
*.vcxproj.user
# Our binaries
src/abuse
src/abuse-tool
doc/abuse.6
doc/abuse-tool.6
